.cover__overlay {
  width: 100%;
  background: rgba(42, 44, 47, 0.3);
  height: 100%;
  transition: 0.3s 0s background ease-in;
}

.cover__overlay:hover {
  background: rgba(42, 44, 47, 0.8);
  cursor: pointer;
}